/.idea/
**/.DS_Store
**/*.iml
**/build
**/.gradle
**/target
**/pom.xml.versionsBackup

/log
/polaris
trpc-selector/trpc-selector-open-polaris/log
trpc-selector/trpc-selector-open-polaris/polaris
trpc-selector/trpc-selector-open-polaris-client/log
trpc-selector/trpc-selector-open-polaris-client/polaris
trpc-selector/trpc-selector-open-polaris-server/log
trpc-selector/trpc-selector-open-polaris-server/polaris
trpc-limiter/trpc-limiter-polaris/log
trpc-limiter/trpc-limiter-polaris/polaris